<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimTaxi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/bootstrap-custom.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="shadow-sm mb-3">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="logo" src="~/images/logo.png" alt="Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Countries" asp-action="Index">Countries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Drivers" asp-action="Index">Drivers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="FuelTypes" asp-action="Index">Fuel Types</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cars" asp-action="Index">Cars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Passengers" asp-action="Index">Passengers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Bookings" asp-action="Index">Bookings</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="mt-5 border-top">

        <div class="container py-4">
            <div class="row">
                <div class="col mb-3">
                    <h3>Mibax SimTaxi</h3>
                </div>
                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Section</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    </ul>
                </div>
                <div class="col mb-3">
                    <h5>Follow them to nowhere</h5>
                    <p>Listen to your mom man</p>
                    <div class="d-flex flex-row social-media-links">
                        <a class="link" href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a class="link" href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a class="link" href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a class="link" href="#">
                            <i class="fa-brands fa-skype"></i>
                        </a>
                        <a class="link" href="#">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        @*<section class="section-bg py-3">
        <div class="container">
        <div class="row">
        <div class="col">
        <h6>&copy; <span class="ft-bold">Mibax</span> All rights reserved.</h6>
        </div>
        <div class="col">
        <h6>&copy; <span class="ft-bold">Mibax</span> All rights reserved.</h6>
        </div>
        <div class="col">
        <h6>&copy; <span class="ft-bold">Mibax</span> All rights reserved.</h6>
        </div>
        <div class="col text-end">
        <<h6>Designed by: <a href="#" class="text-decoration-none text-warning">Mibax</a> </h6>
        </div>
        </div>
        </div>
        </section>*@

        <section class="section-bg py-3">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <h6>&copy; <span class="ft-bold">Mibax</span> All rights reserved.</h6>
                    <h6>Designed by: <a href="#" class="text-decoration-none text-warning">Mibax</a> </h6>
                </div>
            </div>
        </section>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
